.sidebar {
    z-index: 999;
    width: 100%;
}

.sidebar-hidden {
    transform: translateX(calc(-100% + 2.5rem));
}

.sidebar-toggle {
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.1), 5px 5px 20px rgba(0, 0, 0, 0.2);
}